.App{
    /* background: linear-gradient(#1c9cf6, #80aeff); */
 /*    color:white; */
      
}
.App h1{
    text-align: center;
    padding:2%;
    font-size: 3rem;
}

.main-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
